@keyframes blinker {
  50% { opacity: 0.0; }
}
.accept {
  background: rgba(29, 201, 46, 0.65);
  @extend .width-height;
  @extend .font-page;
  @extend .center;
  animation: blinker 1s linear 4;
  @include tablet {
    width: 89vw;
  }
}
.reject {
  background: rgba(189, 36, 36, 0.65);
  @extend .width-height;
  @extend .font-page;
  @extend .center;
  animation: blinker 1s linear 4;
  @include tablet {
    width: 89vw;
  }
}

.error {
  background: black;
  @extend .font-page;
  @extend .width-height;
  @extend .center;
}
