// Key frames
@keyframes blinker {
  50% { opacity: 0.0; }
}
@keyframes moveup {
    0% {
        top: -500px;
    }
    100% {
        top: 10px;
    }
}

// Accepted

.accept {
  background: rgba(29, 201, 46, 0.65);
  @extend .width-height;
  @extend .font-page;
  @extend .center;
  h1 {
    animation: blinker 1s linear 4;
  }
  .rocket {
    color: white;
    transform: rotate(-45deg);
    animation: moveup 5s 1 normal ease-out;
    position: relative;
  }
  @include tablet {
    width: 85vw
  }
  @include desktop {
    width: 89vw;
  }
}

// Rejected

.reject {
  background: rgba(189, 36, 36, 0.65);
  @extend .width-height;
  @extend .font-page;
  @extend .center;
  flex-direction: column;
  button {
    margin-top: 30px;
    width: 200px;
    height: 60px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    color: white;
    background: rgb(171, 171, 171);
    border: 0;
    box-shadow: 3px 7px 25px -1px rgba(0,0,0,0.75);
    &:hover {
      background: rgba(21, 22, 22, 0.72);
    }
  }
  h1 {
    animation: blinker 1s linear 4;
  }
  @include tablet {
    width: 85vw
  }
  @include desktop {
    width: 89vw;
  }
}

// Error

.error {
  background: black;
  @extend .font-page;
  @extend .width-height;
  @extend .center;
  @include tablet {
    width: 85vw
  }
  @include desktop {
    width: 89vw;
  }
}
