
.timer {
    border: 1px solid orange;
    color: #37cd1f;
    font-size: 40px;
    padding: 10px 20px;
    background: black;
    width: 80px;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: all 0.5s ease-in-out;
}
.begin-button {
  width: 200px;
  height: 60px;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 20px;
  color: white;
  background: rgb(171, 171, 171);
  border: 0;
  &:hover {
    background: rgba(25, 166, 210, 0.73);
  }
}
.question-box {
  background: white;
  width: 300px;
  height: 400px;
  @extend .center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 30px;
  @include tablet {
    width: 500px;
    height: 200px;
  }
  h3 {
    color: #777777;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.5;
  }
  input {
    width: 200px;
    outline: none;
    border-bottom: 1px solid rgb(92, 91, 90);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: 20px;
    @include tablet {
      width: 400px;
    }
  }
  .submit-button {
    width: 150px;
    padding: 10px 20px;
    width: 200px;
    height: 60px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    color: white;
    background: rgb(173, 168, 168);
    border: 0;
    position: absolute;
    bottom: 40px;
    right: 40px;
    &:hover {
      background: rgba(#9c20b0, 0.61);
    }
  }
}
.uppercase {
  text-transform: uppercase;
}

@keyframes blinker {
  50% { opacity: 0.0; }
}
.accept {
  background: rgba(29, 201, 46, 0.65);
  @extend .width-height;
  @extend .font-page;
  @extend .center;
  animation: blinker 1s linear 4;
  @include tablet {
    width: 89vw;
  }
}
.reject {
  background: rgba(189, 36, 36, 0.65);
  @extend .width-height;
  @extend .font-page;
  @extend .center;
  animation: blinker 1s linear 4;
  @include tablet {
    width: 89vw;
  }
}

.error {
  background: black;
  @extend .font-page;
  @extend .width-height;
  @extend .center;
}
