
.timer {
    border: 1px solid orange;
    color: #37cd1f;
    font-size: 40px;
    padding: 10px 20px;
    background: black;
    width: 80px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: 'timer', 'opensans', sans-serif;
    @extend .center;
}
.begin-button {
  width: 200px;
  height: 60px;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 20px;
  color: white;
  background: rgb(171, 171, 171);
  border: 0;
  box-shadow: 3px 7px 25px -1px rgba(0,0,0,0.75);
  &:hover {
    background: rgba(25, 166, 210, 0.73);
  }
}
.question-box {
  background: white;
  width: 300px;
  height: 400px;
  @extend .center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 30px;
  box-shadow: 3px 7px 25px -1px rgba(0,0,0,0.75);
  @include desktop {
    width: 700px;
    height: 300px;
  }
  h3 {
    color: #777777;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.5;
  }
  input {
    width: 250px;
    outline: none;
    border-bottom: 1px solid rgb(92, 91, 90);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: 20px;
    margin-bottom: 30px;
    @include desktop {
      width: 600px;
    }
  }
  .submit-button {
    padding: 10px 20px;
    width: 200px;
    height: 60px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    color: white;
    background: rgb(173, 168, 168);
    border: 0;
    box-shadow: 3px 7px 25px -1px rgba(0,0,0,0.75);
    float: right;
    &:hover {
      background: rgba(#9c20b0, 0.61);
    }
  }
}
.uppercase {
  text-transform: uppercase;
}
