.side-bar {
  width: 158px;
  height: 100vh;
  background: white;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  display:none;
  @include tablet {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .starwars {
    text-transform: uppercase;
    color: #dedede;
    transform: rotate(270deg);
    font-size: 70px;
    font-weight: bold;
  }
  .circle-logo {
    background: url(../images/death-star.png) no-repeat center center;
    background-size: 100px;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    align-self: center;
    margin-bottom: 250px;
  }
}
