// Extend
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.width-height {
  width: 100vw;
  height: 100vh;
}

.font-page {
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
}

// Mixin
$tablet-width: 600px;
@mixin tablet {
     @media (min-width: $tablet-width){
        @content;
    }
}
$desktop-width: 1000px;
@mixin desktop {
     @media (min-width: $desktop-width){
        @content;
    }
}
