@import "reset";
@import "fonts";

body {
  width: 100vw;
  height: 100vh;
  font-size: 16px;
  font-family: 'opensans', sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  display: flex;
  background:
  linear-gradient( to bottom,
      rgba(0, 0, 0, 0.20) 0%,
      rgba(0, 0, 0, 0.20)
      100%),
  url(../images/starwars.jpg) no-repeat center center;
}

#starwars-app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-quiz {
}
.timer {
    border: 1px solid orange;
    color: #37cd1f;
    font-size: 40px;
    padding: 10px 20px;
    background: black;
    width: 80px;
}

.question-box {
  background: white;
  width: 500px;
  height: 200px;
  h3 {
    color: #777777;
  }
  input {
    width: 300px;
  }
  .submit-button {
    width: 150px;
    padding: 10px 20px;
  }
  .uppercase {
    text-transform: uppercase;
  }
}

.side-bar {
  width: 158px;
  height: 100vh;
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  .starwars {
    text-transform: uppercase;
    color: #a3a3a3;
    transform: rotate(270deg);
    font-size: 70px;
    font-weight: bold;
  }
  .circle-logo {
    background: black;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    align-self: center;
  }
}
